////////////////////////////////////////////////////////////////////////////////
/// Global Styles
////////////////////////////////////////////////////////////////////////////////

@use '~@angular/material' as mat;

@use './app/shared/styles/theming' as theming;

/// Render all of the Angular Material core styles that are not theme-dependent.
@include mat.core();

/// Include Angular Material custom themes.
@include theming.all-themes();

/// Additional styling for Angular Material compatability.

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

app-root {
  @extend .mat-app-background;
  @extend .mat-typography;
}
