////////////////////////////////////////////////////////////////////////////////
// Application Styles
////////////////////////////////////////////////////////////////////////////////

@use '~@angular/material' as mat;

@include mat.core();

////////////////////////////////////////
// Theming
////////////////////////////////////////

////////////////////
// Light Theme
////////////////////

$portfolio-light-primary: mat.define-palette(mat.$blue-grey-palette);
$portfolio-light-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$portfolio-light-warn: mat.define-palette(mat.$deep-orange-palette);

$portfolio-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $portfolio-light-primary,
      accent: $portfolio-light-accent,
      warn: $portfolio-light-warn,
    ),
  )
);

////////////////////
// Dark Theme
////////////////////

$portfolio-dark-primary: mat.define-palette(mat.$blue-grey-palette);
$portfolio-dark-accent: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);
$portfolio-dark-warn: mat.define-palette(mat.$red-palette);

$portfolio-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $portfolio-dark-primary,
      accent: $portfolio-dark-accent,
      warn: $portfolio-dark-warn,
    ),
  )
);

// Default to light theme.

@include mat.all-component-themes($portfolio-light-theme);

.portfolio-dark-theme {
  @include mat.all-component-colors($portfolio-dark-theme);
}

////////////////////////////////////////
// Global Styles
////////////////////////////////////////

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
